
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --columbia-blue: rgb(222, 244, 251);
--alice-blue: #D8E9EFff;
--blue-yonder: #567095ff;
--cultured: #F8FAFAff;
--blast-off-bronze: #B17866ff;
--off-black: #333333;
--good-font: 'Rubik', sans-serif;
--good-color: #333333;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


h1 {
  font-family: 'Cabin', sans-serif;
  color: var(--good-color);
}
p {
  cursor: default;
  font-family: 'Cabin', sans-serif;
}

div {
  cursor: default;
}

.contact-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bigger {
  font-size: 25px;
  margin-top: 1rem;
}

.contact-title {
  font-size: 55px;
  color: var(--good-color);
  font-weight: bold;
 
}

.contact-desc-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  background-color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');



.header-profile{
  display: inline-block;
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 background-image: url('./media/luke-headshot.png');
}


.navbar-container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 22px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-logo {
  width: 200px;
}

.header-container {
  display: flex;
  flex-direction: row;

}

.header-title {
  position: relative;
}

.header-name {
  position: relative;
  z-index: 10;
  background: none;
  text-shadow: 11px 16px 11px rgba(0,0,0,0.23);

  font-family: 'Cabin', sans-serif;
  margin-left: 1.5rem;
  font-size: 45px;
  color: var(--off-black);
  margin-top: 1rem;
}
.little-line {
  height: 20px;
  position: relative;
    box-shadow: 43px 24px 25px -12px rgba(0,0,0,0.16);
  -webkit-box-shadow: 43px 24px 25px -12px rgba(0,0,0,0.16);
  -moz-box-shadow: 43px 24px 25px -12px rgba(0,0,0,0.16);
}
.little-line:after {
  max-width: 30%;
  margin-top: 12.337555519%;
}

.little-line:after {

  position: absolute;
  bottom: 3px;
  left: 25px;
  width: 100%;
  max-width: 340px;
  height: 6px;
  display: block;
  content: "";
  border-radius: 1000px;
  background: var(--blue-yonder);
}

.header-links-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.header-link {
  font-size: 20px;
  margin-top: 5px;
  color: var(--off-black);
  font-family: var(--good-font);
  
}


.inner-link {
  font-weight: bold;
  color: var(--good-color);
  text-decoration: none;

}

.inner-link{
  display: inline-block;
  position: relative;
  color: var(--good-color);
}

.inner-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue-yonder);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.inner-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* --- Bio --- */

.bio-desc-container {
  box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
  max-width: 450px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

.bio-desc {
  cursor: default;
  
  font-family: var(--good-font);
  line-height: 130%;
}

.other-color {
  margin-bottom: 0rem;
  margin-top: 1rem;
  color: "#ffffff"
}

.active-button {
  text-decoration: dashed;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  border-radius: 10px;
  padding-top: 3px;
  border-bottom: 3px solid var(--blue-yonder);
}

.work-intro-container {
  margin-left: -2rem;
 
}

.work-intro-container h1 {
  margin-bottom: -0.5rem;
  font-size: 50px;
  font-weight: 300;
  color: var(--off-black);
}

.work-intro-container p {
  color: var(--off-black);
  font-size: 20px;
}
.component-container {
  margin-top: 2rem;
  margin-left: -2rem;

  width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.work {
  display: flex;
  justify-content: center;
 
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.biography-container {
    margin-top: 5rem;
   justify-content: center;
   margin-right: 400px;
    display: flex;
    flex-direction: row;
}

.biograpy-desc-container {
  max-width: 600px;
  margin-left: 3rem;
  margin-bottom: 5rem;
}

.biography-desc {
  color: var(--good-color);

  font-size: 20px;
  line-height: 33px;
}

.biography-title {
  margin-top: 15px;
  font-family: var(--good-font);
  color: var(--good-color);
  
  font-size: 50px;
  font-weight: bold;
}


.work-img {
  width: 550px;
  border-radius: 10px;
  box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 11px 21px -10px rgba(0,0,0,0.75);
}

.work-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 5rem;
}

.work-card-description-container {
    max-width: 550px;
}

.work-title {
  font-size: 42px;
  margin-bottom: -0.5rem;
 
}

.work-desc {
  font-size: 17px;
  line-height: 150%;
}

.view-site-link {
  display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    border: none;
    
    font-family: Rubik,sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-size: 1rem;
    padding: 17px 25px;
}

.bio-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.bio-socials-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100px;
  align-items: flex-start;
}

.bio-socials-container img {
  width: 30px;
  
}


@media only screen and (max-width: 768px) {

  .navbar-container {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-logo {
    width: 100px;
  }

  .biography-title {
    font-size: 35px;
  }
  .biography-desc {
    font-size: 15px;
    line-height: 30px;
    text-align: left;
  }
  .biograpy-desc-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
  
  .biography-container {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    margin-top: 2rem;
  }

  .work-card {
    flex-direction: column;
    gap: 0px;
  }



  .work-intro-container {
    margin-left: 0rem;
    margin-top: -3rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .work-intro-container h1 {
    font-size: 45px;
  }

  .work {
    padding-left: 10px;
    padding-right: 10px;
  }

  .component-container {
    margin-left: 0rem;
    position: static;
    left: 0%;
    transform: translate(0%);
  }

  .work-intro-container p {
    font-size: 14px;
    width: 100%;
  }

  .work-img {
    width: 300px;
  }
}
